# Dependências
node_modules/

# Variáveis de ambiente (Segurança)
.env
.env.local
.env.test

# Logs de erro
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build / Saída do TypeScript (se você usa a pasta dist)
dist/
build/